// ariables
$backGroundColor: #182129;
$borderColor: #73737b;
$buttonColor: #243341;
$buttonHover: #456077;
$chooseTableHoverColor: #0d1a25;
$textColor: #a4a4a4;
$DraggableCharInfoFontCOlor: #f9ae01;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

a {
  text-decoration: none;
}

p,
div {
  color: white;
}

// * scroll bar design start

// ? this scroll bar had been removed since V-2.0
// ? Scroll bar does not remove totaly that's why I designed this scroll bar

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

// * scroll bar design end

// ? Dailuge Modal Design start

.modal-content {
  background-color: #182129;
  * :not(input) {
    color: white;
  }

  .icon {
    cursor: pointer;
  }
  // choose table modal section
  .tablesContainer {
    height: 70vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .TableListItem {
      border: 3px solid $borderColor;
      border-radius: 12px;
      padding: 5px;
      cursor: pointer;

      // not selectable mode start
      user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      // not selectable mode end

      &:hover {
        border: 3px solid white;
        transition: 0.5s;
        background-color: $chooseTableHoverColor;
      }

      img {
        &:hover {
          scale: 1.02;
          transition: 0.5s;
        }
      }
    }
  }
}

// ? Dailuge Modal Design end

body {
  background-color: $backGroundColor;
  width: 100dvw;
  // overflow: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  #root {
    .App {
      // * peanutGallery
      .PeanutGallery {
        margin-bottom: 12px;
        .peanutGalleryWrapper {
          height: 90px;
          min-width: 90px;
          width: min-content;
          margin: 12px 0 0 12px;
          display: flex;
          gap: 5px;
          border-radius: 12px;
          border: 3px solid $borderColor;

          &:hover {
            cursor: pointer;
            transition: 0.5s;
          }

          p {
            color: $textColor;
          }

          img {
            cursor: pointer;
            &:hover {
              scale: 1.05;
            }
          }
        }
      }

      // * playGround
      .PlayGround {
        position: relative;
        overflow: hidden;
        border: 3px solid $borderColor;
        border-radius: 12px;
        min-height: 85vh;
        margin-left: 12px;

        // not selectable mode start
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        // not selectable mode end

        // Draggable Image design
        .DraggableImage {
          img {
            width: 75px;
            border-radius: 5px;
          }

          .ContextMenu {
            position: absolute;
            left: 75px;
            padding: 9px;
            border-radius: 6px;
            margin-left: 16px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 6px;
            text-align: center;
            cursor: pointer;
            span {
              color: $buttonHover;
              font-weight: 600;

              &:hover {
                color: $backGroundColor;
              }
            }
          }
        }

        .draggableCharInfo {
          text-align: center;
          color: $DraggableCharInfoFontCOlor;
          line-height: 1rem;
        }

        .ArchetypeDescription {
          width: 80%;
          height: 120px;
          padding: 7px;
          overflow-y: hidden;
          border: 3px solid $borderColor;
          border-radius: 12px;
          position: absolute;
          bottom: -5%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      // * SideBar Menu
      menu {
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .MenuList {
          overflow-y: scroll;
          border: 3px solid $borderColor;
          border-radius: 25px;
          height: 75%;
          padding: 12px 0;

          .CharacterListItem {
            .imgArea {
              position: relative;

              * {
                color: inherit;
              }

              .addButton {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: opacity 0.3s ease;
                border-radius: 5px;
                background-color: $buttonColor;
              }

              img {
                // width: 90px;
                border-radius: 5px;
              }

              &:hover .addButton {
                opacity: 0.85;
                cursor: pointer;
              }
            }

            p {
              // font-weight: 100;
              color: $textColor;
            }
          }
        }
      }

      // * Admin design Start
      .Admin {
        .FormArea {
          width: 400px;
          border: 1px solid $borderColor;
          border-radius: 12px;
          *:not(button) {
            color: white;
            background-color: $backGroundColor;
            ::placeholder {
              color: rgba(0, 0, 0, 0.5);
            }
            input {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
