// import
@font-face {
  font-family: 'a-l-c-h-e-m-y';
  src: url('./assets/a-l-c-h-e-m-y_Regular.ttf') format('ttf');
}

// Variables
$backGroundColor: #182129;
$borderColor: #73737b;
$buttonColor: #243341;
$buttonHover: #456077;
$chooseTableHoverColor: #0d1a25;
$textColor: #dadada;
$DraggableCharInfoFontCOlor: #f9ae01;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'a-l-c-h-e-m-y';
  font-size: 1.05rem;
}

a {
  text-decoration: none;
}

p,
div {
  color: white;
}

// * scroll bar design start

// ? this scroll bar had been removed since V-2.0
// ? Scroll bar does not remove totaly that's why I designed this scroll bar

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

// * scroll bar design end

// ? Dailuge Modal Design start

.modal-content {
  background-color: #182129;
  * :not(input) {
    color: white;
  }

  .icon {
    cursor: pointer;
  }
  // choose table modal section
  .tablesContainer {
    height: 70vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .TableListItem {
      border: 3px solid $borderColor;
      border-radius: 12px;
      padding: 5px;
      cursor: pointer;

      // not selectable mode start
      user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      // not selectable mode end

      &:hover {
        border: 3px solid white;
        transition: 0.5s;
        background-color: $chooseTableHoverColor;
      }

      img {
        &:hover {
          scale: 1.02;
          transition: 0.5s;
        }
      }
    }
  }
}

// ? Dailuge Modal Design end

body {
  background-color: $backGroundColor;
  width: 100dvw;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  #root {
    .App {
      .game {
        // aspect-ratio: 16/9;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: center;

        // * playGround
        .PlayGround {
          position: relative;
          overflow: hidden;
          // border: 3px solid $borderColor;
          // border-radius: 12px;
          min-height: 100vh;
          margin-left: 12px;

          // not selectable mode start
          user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
          // not selectable mode end

          // * peanutGallery
          .PeanutGallery {
            margin-bottom: 12px;
            .peanutGalleryWrapper {
              height: 90px;
              max-width: 100%;
              min-width: 90px;
              width: min-content;
              margin: 12px 0 0 12px;
              display: flex;
              gap: 5px;
              border-radius: 12px;
              border: 3px solid $borderColor;

              &:hover {
                cursor: pointer;
                transition: 0.5s;
              }

              p {
                // color: $textColor;
                color: 'white';
                font-weight: bold;
              }

              .peanut-gallery-img {
                cursor: pointer;
                max-width: 75px;
                &:hover {
                  scale: 1.05;
                }
              }
            }
          }

          // Removable Area
          // .RemovableArea {

          // }

          // Draggable Image design
          .DraggableImage {
            z-index: 10;
            img {
              width: 75px;
              border-radius: 5px;
            }
          }

          .draggableCharInfo {
            text-align: center;
            color: $DraggableCharInfoFontCOlor;
            line-height: 1rem;
          }

          .EndButtonLogo {
            cursor: pointer;
          }

          .RemovableModal {
            z-index: 12;
            font-family: 'a-l-c-h-e-m-y';
            font-size: 1.2rem;
          }

          .ArchetypeDescription {
            width: 80%;
            height: 150px;
            padding: 7px;
            overflow-y: hidden;
            font-size: 1.5rem;
            border-radius: 12px;
            position: absolute;
            bottom: -5%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
          }
        }

        // * SideBar Menu

        .digital-time {
          width: 125px;
          font-size: 1.7rem;
          background-color: #9e6c9bc9;
          padding: 0.5rem 1rem;
          border-radius: 12px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        menu {
          height: 100dvh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .MenuList {
            min-width: 100px;
            overflow-y: scroll;
            height: 75%;
            padding: 12px 0;

            .CharacterListItem {
              .imgArea {
                * {
                  color: inherit;
                }

                img {
                  border-radius: 5px;
                }
              }

              p {
                // font-weight: 100;
                color: $textColor;
              }
            }
          }
        }
      }

      // * Admin design Start
      .Admin {
        .FormArea {
          width: 400px;
          border: 1px solid $borderColor;
          border-radius: 12px;
          *:not(button) {
            color: white;
            background-color: $backGroundColor;
            ::placeholder {
              color: rgba(0, 0, 0, 0.5);
            }
            input {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }

    .Session {
      .FormArea {
        width: 400px;
        border: 1px solid $borderColor;
        border-radius: 12px;
        *:not(button) {
          color: white;
          background-color: $backGroundColor;
          ::placeholder {
            color: rgba(0, 0, 0, 0.5);
          }
          input {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
