// ariables
$backGroundColor: #182129;
$borderColor: #73737b;
$buttonColor: #243341;
$buttonHover: #456077;
$DraggableCharInfoFontCOlor: #f9ae01;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: white;
}

a {
  text-decoration: none;
}

// * scroll bar design start

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backGroundColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #43505c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b91a7;
}

// * scroll bar design end

// ? Dailuge Modal Design start

.modal-content {
  background-color: #182129;
  .icon {
    cursor: pointer;
  }
}

// ? Dailuge Modal Design end

Body {
  background-color: $backGroundColor;
  width: 100dvw;
  overflow: hidden;

  #root {
    .App {
      // * playGround
      .PlayGround {
        position: relative;
        overflow: hidden;

        // not selectable mode start
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        // not selectable mode end

        // Draggable Image design
        .DraggableImage {
          position: absolute;

          img {
            width: 90px;
            border-radius: 5px;
          }

          .draggableCharInfo{
            text-align: center;
            color: $DraggableCharInfoFontCOlor;
            line-height: 1rem;
          }

        }
      }

      // * SideBar Menu
      menu {
        height: 100dvh;
        border-left: 3px solid $borderColor;
        overflow-x: hidden;
        overflow-y: scroll;

        .menuBar {
          .menuButton {
            background: $buttonColor;
            border: 0;

            &:hover {
              background: $buttonHover;
            }
          }
        }

        .MenuListItem {
          position: relative;

          .addButton {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s ease;
            border-radius: 5px;
            background-color: $buttonColor;
            font-size: 22px;
          }

          img {
            width: 90px;
            border-radius: 5px;
          }

          &:hover .addButton {
            opacity: 0.85;
            cursor: pointer;
          }
        }
      }

      // * Admin design Start
      .Admin {
        .FormArea {
          width: 400px;
          border: 1px solid $borderColor;
          border-radius: 12px;

          .form-select,
          .form-control {
            background-color: $buttonColor;
            color: white;
          }
        }
      }
    }
  }
}
